
   .Page2Main {
    display: flex;
    height: 100vh;
    color: white;
    overflow: hidden;
    position: relative;
  }
  
  .page2Left {
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4927ca;
    color: white;
  }
  
  .p2heading {
    color: white;
    z-index: 1000;
    justify-content: right;
    align-items: center;
  }
  
  .p2heading p {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .p2heading h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    color: white;
  }
  
  .p2heading h2 {
    font-size: 3rem;
    font-weight: normal;
  }
  
  .p2leftbottom {
    color: white;
  }
  
  .p2leftbottom h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .p2leftbottom p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .Coming-soon {
    padding: 0.5rem 1rem;
    background-color: white;
    color: #14213d;
    border-radius: 5px;
    display: inline-block;
  }
  
  .skip {
    position: absolute;
    bottom: 2rem;
    right: 5rem;
    color: white;
    text-decoration: none;
  }
  
  .page2Right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    background-color: #1b035f;
    position: relative;
  }
  
  .imgTop2 {
    position: absolute;
    top: 0;
    right: 40px;
    width:300px;
  }
  
  .imgDown2 {
    position: absolute;
    bottom: 0;
    left: 40pxpx;
    width:300px;
  }
  
  .page2Right img {
    max-width: 100%;
    display: block;
  }
  
  .ScrolllImage2{
    position: absolute;
    top:30vh;
    left:35vw;
    background-color: #4927ca;
    border-radius: 50%;
    z-index:100000;
  }