.Page4Main {
    display: flex;
    height: 100vh;
    color: white;
    overflow: hidden;
    position: relative;
  }
  
  .page4Left {
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #16263b;
    color: white;
  }
  
  .p4heading {
    color: white;
    margin-bottom: 2rem;
  }
  
  .p4heading p {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .p4heading h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }
  
  .p4heading h3 {
    font-size: 3rem;
    font-weight: normal;
  }
  
  .p4leftbottom {
    color: white;
  }
  
  .p4leftbottom h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .p4leftbottom p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .Coming-soon {
    padding: 0.5rem 1rem;
    background-color: white;
    color: #14213d;
    border-radius: 5px;
    display: inline-block;
  }
  
  .skip {
    position: absolute;
    bottom: 2rem;
    right: 5rem;
    color: white;
    text-decoration: none;
  }
  
  .page4Right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    background-color: #0b1118;
    position: relative;
  }
  
  .p4top {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .p4center {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .p4bottom {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .p4tl {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .p4tl img, .p4tr img, .p4c img, .p4bl img, .p4br img {
    max-width: 100%;
    display: block;
  }
  
  .p4tr {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .p4br {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .p4bl {
    position: absolute;
    bottom: 0;
    left: 0;
  }


  