.Page1Main {
    display: flex;
    height: 100vh;
    color: white;
    overflow: hidden;
  }
  
  .page1Left {
    width: 50%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #16263b;
    color: white;
  }
  
  .p1heading {
    color: white;
    z-index: 1000;
  }
  
  .p1heading h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    color: white;
  }
  
  .p1heading h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: white;
  }
  
  .p1left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .p1leftbottom {
    color: white;
  }
  
  .p1leftbottom h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .p1leftbottom p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .view-case-study {
    padding: 0.5rem 1rem;
    background-color: white;
    color: #14213d;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
  }
  
  .page1Right {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    background-color: #0b1118;
  }
  
  .page1Right img {
    max-width: 100%;
    display: block;
  }
  
  .skip {
    position: absolute;
    bottom: 2rem;
    right: 5rem;
    color: white;
    text-decoration: none;
  }
  