.Page3Main {
    display: flex;
    height: 100vh;
    color: white;
    overflow: hidden;
    position: relative;
  }
  
  .page3Left {
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0c0e33;
    color: white;
  }
  
  .p3heading {
    color: white;
    margin-bottom: 2rem;
  }
  
  .p3heading p {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .p3heading h3 {
    font-size: 3rem;
    font-weight: normal;
  }
  
  .p3leftbottom {
    color: white;
  }
  
  .p3leftbottom h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .p3leftbottom p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .Coming-soon {
    padding: 0.5rem 1rem;
    background-color: white;
    color: #14213d;
    border-radius: 5px;
    display: inline-block;
  }
  
  .skip {
    position: absolute;
    bottom: 2rem;
    right: 5rem;
    color: white;
    text-decoration: none;
  }
  
  .page3Right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    background-color: #0b1118;
    position: relative;
    background-color: #1b055c;
  }
  
  .p3imgleft {
    position: absolute;
    bottom: 0;
    left: 100px;
    width: 400px;
  }
  
  .p3imgright {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: auto;

  }
  
  .page3Right img {
    max-width: 100%;
    display: block;
  }

  .ScrollImage3{
    position: absolute;
    top:30vh;
    left:35vw;
    background-color: #0c0e33;
    border-radius: 50%;
    z-index: 100000;
  }