.Page3Main {
    display: flex;
    height: 100vh;
    color: white;
    overflow: hidden;
  }
  
  .page3Left {
    width: 50%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    top:35vh;
    background-color: #0d1038;
    color: white;
    justify-content: space-between;
  }
  
  .p3heading {
    color: white;
    z-index: 1000;
    
    justify-content: right;
    text-align: right;
    
  }
  
  .p3heading p {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: white;


  }
  
  .p3heading h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    color: white;
    
  }
  
  .p3heading h3 {
    font-size: 3rem;
    font-weight: normal;
    color: white;
   
  }
  
  .p3leftbottom {
    color: white;
  }
  
  .p3leftbottom h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .p3leftbottom p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .Coming-soon {
    padding: 0.5rem 1rem;
    background-color: white;
    color: #14313d;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    color: white;
  }
  
  .page3Right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    background-color: #131645;
    position: relative;
  }
  
  .page3Right img {
    max-width: 80%;
    display: flex;
    flex-direction: row;
  }
  
  .p3imgright img {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 300px;
    height: auto;

  }
  
  .p3imgleft img {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 300px;
    height: auto;
  }
  
  .skip {
    position: absolute;
    bottom: 3rem;
    right: 5rem;
    color: white;
    text-decoration: none;
  }
  